.btn {
	display: inline-block;
	color: $btn-color;
	background: $btn-bg;
	border: $btn-border;
	border-radius: $btn-border-radius;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	padding: $btn-padding-v $btn-padding-h;
	line-height: 1;
	&:hover, &:focus {
		color: $btn-hover-color;
		background: $btn-hover-bg;
		border: $btn-hover-border;
		text-decoration: none;
	}
	&.block {
		display: block;
	}
}


.tabs {
	.tab {
		display: none;
		&.active {
			display: block;
		}
	}
}