// --------------------------------------------------
// Flexbox grid
// --------------------------------------------------


@include flex-container('');
@include flex-item('');

.gutters {
  > .item {
    border: ($gutter-width / 2) solid transparent;
    background-clip: padding-box;
  }
}
  
.col {
  width: 100%;
} 
.item {
  flex: 1 1 auto;
  padding-left:  ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
}
@include flex-grid('size', $grid-columns);

// Create rules for each breakpoint and add suffix
@each $breakpoint, $size in $breakpoints {
  @media #{min-width($breakpoint)} {
    @include flex-container('-#{$breakpoint}');
    @include flex-item('-#{$breakpoint}');
    @include flex-grid(#{$breakpoint}, $grid-columns);
  }
}

